@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600|Quicksand:400,600,700&display=swap');@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600|Quicksand:400,600,700&display=swap');
body{
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	color: #777;
}
header{
	background-color: #000000;
	color: white;
	text-align: center;
	padding: 30px;	
}
header h1{
	font-size: 20px;
}
#hero{
	/*
	background-image: url("../img/slide-1.jpg");
	background-size: cover;
	background-position: center;
	padding: 20% 0;
	text-align: center;
	color:#fff;
	*/
}

#hero h3, #hero h2{
	text-transform: uppercase;
}

#hero h3{
	color: #cdb083;
	font-size: 18px;
}

#hero h2{
	font-size: 45px;
	font-family: 'Quicksand', sans-serif;
}

#hero h2 span{
	display:block;
}

#hero .btn-light {
	padding: 4px 40px;
	background-color: transparent;
	border: 1px solid #cdb083;
	font-size: 12px;
	text-transform: uppercase;
	border-radius: 0px;
	margin-top: 5%;
	color: #cdb083;
	latter-spacing: 2px;
	
	
}

#hero .btn-light:hover {
	border: 1px solid #B59667;
	
}

.section {
	padding: 10% 0;
}

#modern {
	background-color: #f2f2f2;
}
 
.titulo {
	color: #AF9F66;
	font-size: 30px;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 30px;
	letter-spacing: 8px;
	font-weight: 400;
	font-family: 'Quicksand', sans-serif;
}

.subtitulo {
	color: #999794;
	text-transform: uppercase;
	text-align: center;
	font-size: 14px;
	letter-spacing: 8px;
	margin-bottom: 30px;
	
}

#modern h4 {
	color: #999794;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	padding: 20px 0;
	
}

.btn-dorado {
	background-color: #AF9F66;
	color: white;
	text-transform: uppercase;
	font-size: 12px;
	padding: 10px 30px;
	border-radius: 20px;
	letter-spacing: 2px;
	border: 0;
}

.btn-dorado:hover{
	background-color: #FFFFFF;
	color: #AF9F66;
	
}

.btn-white {
	background-color: transparent;
	color: #AF9F66;
    padding: 10px 30px;
	border: 1px solid #AF9F66;
	font-size: 12px;
	text-transform: uppercase;
	margin-top: 30px;
	border-radius: 20px;
	letter-spacing: 2px;
	
}

.btn-white:hoover {
	background-color: #f2f2f2;
	border:0;
}

#features li{
	margin-bottom: 15px;	
}
.subtitulo::before,
.titulo::after{
	content:'';
	width:1px;
	height: 40px;
	background-color: #d2d2d2;
	display: block;
	margin: 10px auto 20px;
}

#hero h3::before,
#hero h2::after{
	content:'';
	width:1px;
	height: 40px;
	background-color: #af9f66;
	display: block;
	margin: 10px auto 20px;
}

.carousel-caption {
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	
	
}
.nav-sociales{
	border-radius: 100%;
	color: #af9f66;
}


